<!DOCTYPE html>
<html>
<head>
    <% include /partials/head %>
    
</head>
<header><% include /partials/header %></header>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><i class="fa fa-beer"></i></span> About Drinkability <i class="fa fa-glass"></i></h1>


    </div>

</div>

<div class="container">
<div class="jumbotron">
<p> Drinkability is the only app that provides you with endless drink possibilities. Whether you need a place to start or are feeling like something new, we can help you find a drink that will suit your tastes. 
</div>

</div>
    <footer>
        <% include /partials/footer %>
    </footer>
</body>
</html>   