<!DOCTYPE html>
<html>
<head>
    <% include /partials/head %>
    
</head>
<header><% include /partials/header %></header>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><img src="http://i.imgur.com/AIpeE2Q.png" class="drinkLogo"> What ya drinkin? <img src="http://i.imgur.com/4yG9Wea.png" class="drinkLogo"></h1>

        
        
        <!-- <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a><br> -->

        
        
        <h1><a href="/beers" class="btn btn-default"><span class="fa fa-beer"> Beers/Wines</span></a>
        <a href="/cocktails" class="btn btn-default"><span class="fa fa-glass"> Cocktails</span></a></h1>

        
       

    </div>
<hr>
</div>


<div class="container">
<div class="well">
<h1> Top Cocktails</h1>
<p>

</p>
</div>

</div>
    <footer>
        <% include /partials/footer %>
    </footer>
</body>
</html>   