<!DOCTYPE html>
<html>
<head>
    <% include /partials/head %>
    
</head>
<header><% include /partials/header %></header>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><i class="fa fa-beer"></i></span> Something specific? <i class="fa fa-glass"></i></h1>
        <form>
            <input type="search" name="datasearch" placeholder="Search our selection...">
        </form>
    </div>
</div>

<div class="container">
<div class="jumbotron">

</div>

</div>

    <footer>
        <% include /partials/footer %>
    </footer>
</body>
</html>   